---
import SocialCard from './social-card.astro'
import props from '../data/home.json'

const URL_REGEX = /^(https?:\/\/|mailto:|tel:)/

const visibleSocials = props.socials.filter(social => (
  String(social.url).match(URL_REGEX) && social.url !== "#" && social.showInContact
))
---

<section id="contact" class="slideGroup section-container">
  <div class="container mx-auto space-y-12">
    <div class="slideUp mb-16">
      <h2 class="text-3xl md:text-4xl font-heading font-bold text-maintext mb-2 flex items-center gap-4">
        <span class="text-accent">/</span> Contact Me
      </h2>

      <p class="text-subtext font-body text-sm max-w-md">
        Feel free to reach out. I'm always open to discussing new projects and opportunities.
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 text-center">
      {visibleSocials.map(social => <SocialCard social={social} />)}
    </div>
  </div>
</section>
