---
import { Icon } from 'astro-icon/components'
import type { NavItem } from '../types'
import data from '../data/nav.json'

interface Data {
  navItems: NavItem[]
}

const { navItems } = data as Data
---


<nav id="mobile-nav" class="md:hidden fixed left-1/2 -translate-x-1/2 z-99 bottom-0 border-t-[1.2px] border-transparent rounded-t-2xl">
  <div class="flex justify-center items-center p-3 bg-background/90 backdrop-blur-sm rounded-t-2xl">
    <ul class="flex justify-evenly gap-2 w-full">
      {navItems.map(item => (
        <li>
          <a href={item.href} class="flex flex-col items-center gap-2 text-accent">
            <Icon
              name={item.icon}
              class="size-6 icon text-accent/50"
            />

            <span class="text-xs">{item.label}</span>
          </a>
        </li>
      ))}
    </ul>
  </div>
</nav>

<style>
#mobile-nav {
  width: 100% !important;
  background-color: color-mix(in srgb, var(--color-background), transparent 75%);
  border-color: color-mix(in srgb, var(--color-accent) 30%, transparent);
  backdrop-filter: blur(10px);
}

#mobile-nav a.active {
  font-weight: 700;
  color: var(--color-maintext);
  text-shadow: 0 0 10px color-mix(in srgb, var(--color-maintext) 50%, transparent);
  transform: scale(1.1);
}

#mobile-nav .active .icon {
  color: var(--color-maintext);
  filter: drop-shadow(0 0 5px color-mix(in srgb, var(--color-maintext) 50%, transparent));
}
</style>

<script>
import { gsap } from 'gsap'
import { ScrollToPlugin } from 'gsap/ScrollToPlugin'
import { ScrollTrigger } from 'gsap/ScrollTrigger'

gsap.registerPlugin(ScrollToPlugin, ScrollTrigger)

const mobileNav = document.getElementById('mobile-nav')!

const navItems = gsap.utils.toArray('#mobile-nav a') as HTMLElement[]
const sections = gsap.utils.toArray("section") as HTMLElement[]

/**
 * Update active nav item based on scroll position
 */
const setActive = (sectionId: string) => {
  navItems.forEach(item => {
    const sectionName = item.getAttribute('href')?.substring(1)
    item.classList.toggle('active', sectionName === sectionId)
  })
}

const updateActive = () => {
  const center = window.innerHeight / 2

  const current = sections.find(section => {
    const rect = section.getBoundingClientRect()

    return rect.top <= center && rect.bottom >= center
  });

  if (current) setActive(current.id)
}

ScrollTrigger.create({ start: 0, end: "max", onUpdate: updateActive })
updateActive()

/**
 * Transform nav on scroll
 */
ScrollTrigger.create({
  start: 1,

  onEnter: () => mobileNav.classList.add('scrolling'),
  onLeaveBack: () => mobileNav.classList.remove('scrolling')
})

ScrollTrigger.create({
  start: 0,
  end: 'max',
  onUpdate: (self) => {
    if (self.direction === 1) {
      // up scroll
      gsap.to(mobileNav, {
        y: 150,
        duration: 0.3,
        ease: 'power2.out',
        overwrite: true,
      })
    } else {
      // down scroll
      gsap.to(mobileNav, {
        y: 0,
        duration: 0.3,
        ease: 'power2.out',
        overwrite: true,
      })
    }
  },
})

/**
 * Smooth scroll for nav links
 */
navItems.forEach(item => {
  item.addEventListener('click', event => {
    event.preventDefault()

    gsap.to(window, {
      scrollTo: item.getAttribute('href')!,
      ease: 'power2.out',
      duration: 1,
    })
  })
})
</script>
