---
import type { NavItem } from '../types'

const navItems: NavItem[] = [
  {
    label: "Home",
    href: "#home",
    icon: `mdi:home`,
  },
  {
    label: "Career",
    href: "#career",
    icon: `mdi:work`,
  },
  // {
  //   label: "Projects",
  //   href: "#projects",
  //   icon: `mdi:computer`,
  // },
  {
    label: "Tech",
    href: "#tech",
    icon: `mdi:code-tags`,
  },
  // {
  //   label: "Education",
  //   href: "#contact",
  //   icon: `mdi:message`,
  // },
  {
    label: "Contact",
    href: "#contact",
    icon: `mdi:message`,
  }
];
---

<div class="flex justify-center w-full">
  <nav id="nav" class="bg-red-200 fixed z-99 w-3/4 mt-6 border-[1.2px]">
    <div class="container mx-auto flex justify-center items-center p-3">
      <ul class="flex w-full justify-center gap-12">
        {navItems.map(item => (
          <li>
            <a href={item.href} class="text-accent transition-all">
              <span class="inline-block">{item.label}</span>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </nav>
</div>

<style>
#nav {
  background-color: transparent;
  border-color: transparent;
  backdrop-filter: blur(0px);
  transition: all .4s ease;
}

#nav.scrolling {
  background-color: color-mix(in srgb, var(--color-background), transparent 75%);
  border-color: color-mix(in srgb, var(--color-accent) 30%, transparent);
  backdrop-filter: blur(10px);
  border-radius: 9999px;
}

#nav a.active {
  font-weight: 700;
  color: var(--color-maintext);
  text-shadow: 0 0 10px color-mix(in srgb, var(--color-maintext) 50%, transparent);
  transform: scale(1.1);
}
</style>

<script>
import { gsap } from 'gsap'
import { ScrollToPlugin } from 'gsap/ScrollToPlugin'
import { ScrollTrigger } from 'gsap/ScrollTrigger'

gsap.registerPlugin(ScrollToPlugin, ScrollTrigger)

const nav = document.getElementById('nav')!

const navItems = gsap.utils.toArray('#nav a') as HTMLElement[]
const sections = gsap.utils.toArray("section") as HTMLElement[]

/**
 * Update active nav item based on scroll position
 */
const setActive = (sectionId: string) => {
  navItems.forEach(item => {
    const sectionName = item.getAttribute('href')?.substring(1)
    item.classList.toggle('active', sectionName === sectionId)
  })
}

const updateActive = () => {
  const center = window.innerHeight / 2

  const current = sections.find(section => {
    const rect = section.getBoundingClientRect()

    return rect.top <= center && rect.bottom >= center
  });

  if (current) setActive(current.id)
}

ScrollTrigger.create({ start: 0, end: "max", onUpdate: updateActive })
updateActive()

/**
 * Transform nav on scroll
 */
ScrollTrigger.create({
  start: 1,

  onEnter: () => nav.classList.add('scrolling'),
  onLeaveBack: () => nav.classList.remove('scrolling')
});

gsap.to(nav, {
  width: '768px',
  scrollTrigger: {
    trigger: '#home',
    start: 'top top',
    end: 'bottom top',
    scrub: true
  }
})

/**
 * Smooth scroll for nav links
 */
navItems.forEach(item => {
  item.addEventListener('click', event => {
    event.preventDefault()

    gsap.to(window, {
      scrollTo: item.getAttribute('href')!,
      ease: 'power2.out',
      duration: 1,
    })
  })
})
</script>
