---
import { Icon } from 'astro-icon/components'
---

<button id="theme-toggle" aria-label="Toggle Theme">
  <Icon name="mdi:weather-sunny" class="sun-icon" />
  <Icon name="mdi:weather-night" class="moon-icon" />
</button>

<style>
  #theme-toggle {
    border: none;
    background: transparent;
    color: var(--color-maintext);
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s ease;
  }

  #theme-toggle:hover {
    background-color: var(--color-accent);
    color: var(--color-background);
  }

  :global([data-theme$="-dark"]) .sun-icon {
    display: none;
  }

  :global([data-theme$="-light"]) .moon-icon {
    display: none;
  }
</style>

<script>
  const handleToggle = () => {
    const root = document.documentElement
    const currentTheme = root.getAttribute('data-theme') || 'default-dark'

    const newTheme =
      currentTheme.endsWith('-dark')
        ? currentTheme.replace('-dark', '-light')
        : currentTheme.replace('-light', '-dark')

    root.setAttribute('data-theme', newTheme)
    localStorage.setItem('theme', newTheme)
  }

  const themeToggle = document.getElementById('theme-toggle')!
  themeToggle.addEventListener('click', handleToggle)
</script>
