---
import BackToTop from '../components/back-to-top.astro'
import Matrix from "../components/matrix.astro"
import ThemeToggle from '../components/theme-toggle.astro'

import '../styles/global.css'

interface Props {
  siteTitle: string
}

const { siteTitle } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">

    <title>{siteTitle}</title>

    <!-- Initialize Theme -->
    <script is:inline>
      const theme = localStorage.getItem('theme') ?? 'dark'
      document.documentElement.classList.toggle('dark', theme === 'dark')

      localStorage.setItem('theme', theme)
    </script>
  </head>

  <body class="bg-container relative min-h-screen overflow-x-hidden antialiased">
    <Matrix />
    <ThemeToggle />

    <main class="px-2 sm:px-12 md:px-14 lg:px-28 max-w-360 mx-auto relative z-0">
      <slot />
    </main>

    <BackToTop />
  </body>
</html>
